.new-product-wrap{
  :global{
    .dropdown-content,.braft-embed-image-toolbar{
      margin-left: 0 !important;
    }
  }
}
.submit-btn-wrap{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  button{
    margin: 5px 12px;
  }
}