.product-info-wrap{
  :global(.ant-form-item){
    margin-bottom: 0
  }
  input{
    border-radius: 0
  }
  :global(.good-info){
    float: left
  }
  :global(.good-desc){
    margin-top: 20px;
    width: 70%;
    margin-left: 70px;
  }
  :global(.upload-pic-desc){
    text-align: center;
  }
}

.button-grop{
  display: inline-flex;
}