.good-detail-wrap{
  :global(.good-info){
    width:50%;
  }
  :global(.ant-card-body){
    padding-bottom: 0
  }
  :global{
    .ant-form-item-control>span{
      // display: inline-block;
      // width:100%;
      // max-width: 300px;
      // white-space: nowrap;
      // text-overflow: ellipsis;
      // overflow: hidden;
    }
  }
}

.tabsCard {
  margin-bottom: 24px;
  :global {
    .ant-card-head {
      padding: 0 16px;
    }
  }
}

// 提交条
.submit-btn-wrap{
  width: 100%;
  display: flex;
  margin-top:25px;
  justify-content: space-between;
  :global{
    .left{
      width: 70%;
      input{
        width: 50%;
        max-width: 380px;
      }
    }
  }
  button{
    margin: 5px 12px;
  }
}
:global{
  .show-inline{
    display: inline-block;
  }
  .hide{
    display: none;
  }
}

// 返回按钮
.back-btn-wrap{
  width: 100%;
  display: flex;
  margin-top:25px;
  justify-content: center;
}